body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/* form messages */

.message.error {
    color: #933;
}

.message.info {
    color: #339;
}

/* board designer */

#board {
	font-size: 0.65em;
}
#board td {
    border: solid 1px #999;
    padding: 5px;
    width: 50px;
    height: 50px;
    opacity: 0.25;
}

#board td.black {
    background: #000;
    color: #ccc;
}

#board td.white {
    color: #999;
}

#board td.normal {
    opacity: 1;
}